@import './base.css';

@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

*{
  font-family: "Alegreya", serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  scroll-padding-top:  2rem;
}

:root{
  --main-color: #e50914;
  --hover-color: #ffa500;
  --body-color: #1a1a1a;
  --container-color: #1a1a1a;
  --text-color:#f5f5f5;
}
/* SCROLLBAR */
::-webkit-scrollbar{
  display: none;

}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
body{
  background-color: var(--body-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/img/155962604_bf1ecaec-d764-489d-9ebf-1b08fef491dd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-color);

}
@media only screen and (max-width: 800px) {
  *{
      scroll-padding-top: 5rem;
  }
}